.ht_clone_top th {
    border: 1px solid #000 !important;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    white-space: normal; /* Ensure text wraps correctly */
}
.htCore td {
    font-size: 13px;
    color: #000;
    border: 1px solid #000 !important;
}
/* Print Styles */
@media print {
    /* Hide all buttons during printing */
    .no-print {
        display: none !important;
    }
    htAutocompleteArrow {
        display: none !important;
    }

    #hot {
        height: auto !important;
        max-height: none !important;
        overflow: visible !important;
    }
    .handsontable {
        page-break-before: auto;
        page-break-after: auto;
    }
}
::-webkit-scrollbar {
    @media print {
        display: none !important;
    }
}

.htDropdownMenu .htAutocompleteArrow {
    display: none !important;
}

.htLastRow {
    font-size: 16px !important;
    font-weight: bold;
    text-align: center !important;
    vertical-align: top !important;
    height: 150px !important; /* Set fixed height */
}