/* Set the width for each column in the table */
#custom-header .table-header {
    border-collapse: collapse; /* Remove spacing between borders */
}

#custom-header > table > tbody > tr:nth-child(1) > th {
    border : 2px solid #000;
}

#custom-header .table-header td {
    font-size: 13px;
    border : 2px solid #000;
}
/* Column 1 */
#custom-header .table-header td:nth-child(1) {
    width: 217px;
}

/* Column 2 */
#custom-header .table-header td:nth-child(2) {
    width: 116px;
}

/* Column 3 */
#custom-header .table-header td:nth-child(3) {
    width: 283px;
}

/* Column 4 */
#custom-header .table-header td:nth-child(4) {
    width: 165px;
}

/* Column 5 */
#custom-header .table-header td:nth-child(5) {
    width: 334px;
}

/* Column 6 */
#custom-header .table-header td:nth-child(6) {
    width: 355px;
}

/* #custom-header input, textarea {
    border: none;
} */